
* {
  margin: 0;padding:0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

header{
  width: 100%;
  background-color: lightcoral;
  padding: 10px;
}

header h1, header h4 {
  text-align: center;
}

header h1 {
  font-size: 4rem;
}

header h4 {
  font-size: 1rem;
}

main {
  width: 70%;
  margin: auto;
  background-color: #dddddd;
  display: table;
  padding: 20px;
  position: relative;
}

.idea, .form {
  background-color: lightgreen;
  width: 20%;
  margin: 10px;
  padding: 35px 10px 10px;
  vertical-align: top;
  border: solid 1px rgb(68, 110, 68);
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
  position: relative;
}

.idea h4 {
  font-size: 1rem;
  margin-bottom: 15px
}

.idea p {
  font-size: 1rem;
}

.ideas {
  float: right;
  column-count: 4;
  column-gap: 1em;
}

.form label {
  display: block;
  margin-top: 20px;
  font-weight: bold;
}

.form input, .form textarea {
  width: 100%;
  border: none;
  background: #eee;
}

.form input {
  height: 35px;
  padding: 0 5px;
  font-size: 14px;
}

.form textarea {
  height: 100px;
  padding: 5px;
  font-size: 14px;
  resize: none;
}

.form button.btn-save {
  display: block;
  margin-top: 20px;
  float: right;
  width: 80px;
  height: 35px;
  cursor: pointer;
  border: 1px solid #ccc;
  background: rgb(17, 109, 196);
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
}

.form button.btn-save:hover {
  background: rgb(14, 81, 145);
}

.form button.btn-cancel {
  display: block;
  margin-top: 20px;
  float: right;
  width: 80px;
  height: 35px;
  cursor: pointer;
  border: 1px solid #ccc;
  background: #eee;
  color: #333;
  font-size: 14px;
  font-weight: bold;
}

button.btn-new {
  display: block;
  margin: 35px 0 20px;
  width: 280px;
  height: 55px;
  cursor: pointer;
  border: 1px solid #ccc;
  background: #137417;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  float: right;
}

button.btn-new:hover {
  background: #1b441c;
}

.form button.btn-cancel:hover {
  background: #aaa;
}

.actions_butons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: right;
  margin-bottom: 10px;
  height: 30px;
  background-color: #75d075;
  padding: 2px;
}

.actions_butons a.btn {
  font-size: 12px;
  margin-left: 10px;
  text-decoration: none;
  cursor: pointer;
}

.actions_butons a.btn-edit {
  background-color: #054425;
  padding: 3px;
  color: #fff;
}

.actions_butons a.btn-edit:hover {
  background-color: #113322;
}

.actions_butons a.btn-delete {
  background-color: #9e1a1a;
  padding: 3px;
  color: #fff;
}

.actions_butons a.btn-delete:hover {
  background-color: #5c1919;
}

.notification {
  margin-top: 0;
  background-color: #3aca76;
  border-bottom: 1px solid #377250;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px black;
  box-shadow: 0 3px 5px rgb(109, 107, 107);
}